.btn {
    margin: 2%;
    border-radius: 5px;
    border: solid 2px #b7187a;
    cursor: pointer;
}

.button-primary {
    background-color: #d6469f;
}

.button-danger {
    background-color: red;
}

.button-alert {
    background-color: orange;
}

.button-confirmation {
    background-color: green;
}