.container-favorite {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 2% 20%;
}

h1{
  font-size: 45px;
  padding: 20px;
}

h4{
  font-size: 22px;
}