
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F7E1D7;
    --secundary-color: #EDAFB8; 
    --tertiary-color: #4A5759;
    --cuaternary-color:  #DEDBD2;
    --quinary-color: #B0C4B1;
}
#root{
    margin-top: 0px;
    width: 100%;
    
} 
body{
    
    background-color: var(--primary-color);
    color: #333;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}

.container-home h2 {
    font-size: 2rem;
    margin: 1% auto;
    text-align: center;
    width: 100%;
}


